#live-game {
  display: none;
}

#main-pig {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
}


#win-screen {
  display: none;
  margin-bottom: 600px;
}

.glyphicon-refresh {
  padding-right: 10px;
}
